body{
    margin: 0;
    padding: 0;
   
}

.box {
    font-size: 16px;
    height: 60px;
    width: 57px;
    vertical-align: top;
    min-width: 40px;
    max-width: 50px;
    min-height: 40px;
    max-height: 50px;
    
   

}
.inner-box-container {
    margin: 2px 0;
    
}




    .control {
        background-color: black;
        padding: 10px;
    }


.button {
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    min-width: 50px;
    max-width: 65px;
}

.container {
    padding: 10px 10px 10px;
    max-width: 450px;
    min-width: 200px;
    margin: 0 auto;
   
}
.body {
    background-color: green;
    max-width: 1180px;
    max-height: 768px;
}

.game {
    margin-top: 12px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    }
.game :hover {
    color: coral;
    background-color: darkblue;
}


 .txt {
     font-size: 13px;
    color: rgb(255, 255, 255);
    margin-bottom: 7px;


 }
 .costum-heart {
    transform: scale(1.5) !important;
    margin-right: 8px !important;
    margin-bottom: 4px !important;
}
.costum-thopy {
    transform: scale(2.5) !important;
    margin-right: 4px !important;
    margin-bottom: 4px !important;
    margin-left: 1px;
}
.footer {
   padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    
}
.snes {
    text-align: center;
   
}
#cnt {
    width: 40%;
    height: 20%;
    margin-top: 80px;
    font-size: 16px;
    text-align: right;
    color: blanchedalmond;
    font-family: sans-serif;
     margin-left: 6px;
}