
body{
    margin: 0;
    padding: 0;
    
}

.box {
    height: 70px;
    width: 70px;
    vertical-align: top;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
   
    
    
   

}
.inner-box-container {
    margin: 14px 0;
    
}
.snes {
    text-align: center;
}


.control {
    background-color: black;
    padding: 10px;
}

.button {
    
    font-weight: bold;
}

.container {
    
    padding: 10px 20px 10px;
    max-width: 480px;
    min-width: 250px;
    margin: 0 auto;
 
 
}
.body {
    background-color: green;
}

.game {
    margin-top: 12px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    }
.game :hover {
    color: coral;
    background-color: darkblue;
}

.footer {
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
  
} 
 .txt {
    font-size: 20px;


 }


