body{
    margin: 0;
    padding: 0;
}

.box {
    font-size: 16px;
    height: 60px;
    width: 60px;
    vertical-align: top;
    
    
    
   

}
.inner-box-container {
    padding: 2px;
    text-align: center;
    
}



.control {
    background-color: black;
    padding: 10px;
}

.button {
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}

.container {
  margin-top: 20px;
  text-align: center;
  height: fit-content;
 
}
.body {
    background-color: green;
}

.game {
    margin-top: 12px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    }
.game :hover {
    color: coral;
    background-color: darkblue;
}


 .txt {
    font-size: 18px;
    color: blanchedalmond;
   


 }

.footer {
   
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}
.snes {
    text-align: center;
}